body {
    font-family: Times New Roman, sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: white;
    margin: 0;
    padding: 0;
    background-image: url("Images/Warehouse.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
	background-position: center;
}.header {
    margin: 10%; /* Optional: Adds spacing around the header */
}.container {
    display: flex;
    justify-content: center;
    column-gap: 20px;
}.box1,.box2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 150px;
    padding: 10px 20px;
    background-color: transparent;
    cursor: pointer;
}.box1 button,.box2 button {
    background-color: #4CAF50;
    border: none;
    border-radius: 5px; 
    color: black;
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for hover */
}.box1 button:hover,.box2 button:hover {
    background-color: #45a049; /* Darker green on hover */
}