body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50;
    margin: 0;
    padding: 50;
}

.main {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 200px;
}

label{
    display: block;
}